# ==============================================================
# config file for ansible -- http://ansible.com/
# ==============================================================

# nearly all parameters can be overridden in ansible-playbook 
# or with command line flags. ansible will read ANSIBLE_CONFIG,
# ansible.cfg in the current working directory, .ansible.cfg in
# the home directory or /etc/ansible/ansible.cfg, whichever it
# finds first

[defaults]

# location of inventory file, eliminates need to specify -i

base_dir = /dev2/ansible/mservice/master/rm-orchestration

hostfile = /dev2/ansible/inventory/ericsservers-ip
library = /dev2/ansible/clc-ansible-module-0.0.4/clc_ansible_module

# roles_path = /dev2/ansible/dbaas/dbaas-database-orchestration/roles
# roles_path = /dev2/ansible/dbaas/dbaas-database-orchestration/roles